/*
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt { position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 32px 550px; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul { height: 100%; font-size: 0; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li { position: relative; display: inline-block; width: 190px; height: 190px; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li + li { margin-left: 124px; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(3n + 1) { margin-left: 0; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(n + 4) { margin-top: 124px; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li > div { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; left: 0; color: #fff; text-align: center; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li strong { font-weight: bold; font-size: 25px; line-height: 1.12; letter-spacing: -0.03em; }
*/
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt { position: absolute; top: 0; left: 0; right: 0; bottom: 0; padding: 1.67% 28.65%; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul { height: 100%; font-size: 0; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li { position: relative; display: inline-block; width: 23.17%; height: 23.2%; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li + li { margin-left: 15.12%; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(3n + 1) { margin-left: 0; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(n + 4) { margin-top: 15.12%; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li > div { position: absolute; top: 50%; transform: translateY(-50%); width: 100%; left: 0; color: #fff; text-align: center; }
.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li strong { font-weight: bold; font-size: 25px; line-height: 1.12; letter-spacing: -0.03em; }

@media (max-width: 1920px) {
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li strong { font-size: 1.3vw; }
}

@media (max-width: 847px) {
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li strong { font-size: 11px; }
}

@media (max-width: 768px) {
	/*
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt { padding: 34px 114px; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li { width: 204px; height: 204px; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li + li { margin-left: 132px; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(3n + 1) { margin-left: 132px; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(2n + 1) { margin-left: 0; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(n + 3) { margin-top: 132px; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li strong { font-size: 27px; line-height: 1.11; letter-spacing: -0.03em; }
	*/
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt { padding: 4.43% 14.84%; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li { width: 37.77%; height: 13.15%; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li + li { margin-left: 24.44%; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(3n + 1) { margin-left: 24.44%; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(2n + 1) { margin-left: 0; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li:nth-child(n + 3) { margin-top: 24.44%; }
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li strong { font-size: 3.52vw; line-height: 1.11; letter-spacing: -0.03em; }
}

@media (max-width: 320px) {
	.responsible-labor-practice section:nth-child(3) .full_obj .floating-txt ul li strong { font-size: 11px; }
}